body{

    font : 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin: 0;
    color: #354463;
}
.button-1{
    padding: 15px;
}
.button-2{
    background:#C1F7D5;
    border-radius: 100px;
    width: 160px;
    height: 48px;
    margin:0;
    padding:0;
    font-size: 20px;
}
.text{
    background:#ffffff;
    border-radius: 100px;
    width: 360px;
    height: 48px;
    margin:0;
    padding:0;
    font-size: 20px;
    text-align: center;
}
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}
header{
    padding-top: 30px;
    min-height: 70px;

}
header ul{
    margin:0;
    padding: 0;
    
}
header li{
    float:left;
    display:inline;
    padding:0 20px 0 20px;
}
header #greentree{
    float: left;
}
header #greentree h1{
    margin-top: 10px;
}
header nav{
    float: right;
    margin-top: 30px;
}
/* Climate change section*/
.climate{
    min-height: 600px;
    background: url("../image/annie-spratt-135307-unsplash.png") no-repeat;
}
#climate-1{
    float: left;
    width: 25%;
    padding: 10px;
    margin-top: 100px;
    margin-left: 100px;
    text-align: center;
    background:#ffffff
}
#climate-1 h1{
    color: #354463;
    font-size: 44px;
    text-align: left;
    margin: 20px 20px 20px 0;
}
#climate-1 a{
    text-align: left;
    margin: 20px 20px 20px 20px
}
#climate-2{
    float: right;
    padding: 10px;
    margin-right:700px;
    margin-top:100px
}

/* acton season start*/
#take-action{
    height: 250px;
    background:#354463;
}

#take-action #box{
    float: left;
    width: 14%;
    padding: 30px;
}
#take-action #supper-box{
    float: left;
    width: 80;
    padding: 10px;
    margin-left: 100px;
}
#take-action h1{
    font-size: 35px;
    padding:0;
    margin:0;
}

/*what we do section*/

#what-we-do{
    background: #354463;
    padding: 0;
    margin:auto;
    height: 1000px;

}
#what-we-do h1{
    color: white;
    font-size: 40px;
    width: 58%;
    margin-left: 100px;
}
#what-we-do button{
    margin-left : 100px;
}
#waht-we-do-box{
    margin-left: 200px;
    display:flex;
    align-items: center;
    background: #354463;
    width: 1440px;
    height: 500px;
    
   

}
#what-we-do-box #box{

    background:#ffffff;
    width: 10%;
    height: 450px;
    float: left;
    padding: 100px;
    margin:20px 20px 20px 20px;
}
#what-we-do-box #box h1{
    font-size: 30px;
}
#what-we-do-box #box p{
    font-size: 15px;;
}

.climate-change{
    height: 1200px;
    width: 100%;
    background: url("../image/Did\ you\ know\ background.png") no-repeat;

}
.climate-change #climate-change-1{
    margin-left : 160px;
    width: 437px;
    height: 300px;
    background: url('../image/Climate\ changeIs\ a\ hunger\ issue..png') no-repeat;
}
.climate-change-box{
    float: right;
}
.climate-change-box #box{
   background: #ffffff;
    height: 200px;
    width: 500px;
    margin-right:500px;
    margin-top:0px;
}
.climate-change-box #box h1{
    font-size: 50px;
    width: 400px;
    margin-left: 50px;
    margin-top: 20px;
}
.climate-change-box #box p{
    width: 400px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 0px;
    padding: 0;
}


/* Stroy section*/

.story{
    height: 1000px;
}

    
.story #story-2{
    margin-left : 700px;
    margin-top: 100px;
    background: url("../image/lady-baby.png") no-repeat;
    height:1000px;
    width:40%;
}
.story #story-1{
    background:#354463;
    color: #ffffff;
    margin-left: 180px;
    margin-top : 210px;
    width: 600px;
    height: 430px;
    float: left;

}

.story #story-1 h1{
    padding: 50px 50px 50px 0;
    font-size: 30px;
    width: 416px;
    height: 196px;
    margin-left: 100px;
}
.story #story-1 p{
    margin-left: 100px;
    margin-top: 60px;
}


/*feature */
/*
.feature{
    height: 2000px;
    background:#354463;
}
.feature h1{
    width: 810px;
    height: 14px;
    text-align: left;
    font: normal normal normal 72px/76px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 72px;
    margin-top: 162px;
    margin-left : 162px;
  
}
.feature #box{
    float: left;
    height: 580px;
    width:100%;
}
.feature #box #box-1{
    float:left;
    margin-top:10px ;
}
.feature #box #box-1 img{
    width: 576px;
    height: 576px;
    margin-top: 200px;
    margin-left: 162px;
}*/

/* subscribe*/

.subscribe{
    background-color: #C1F7D5;
    height : 200px;
}
.subscribe #box #box-1{
    float : left;
    height: 150px;
    width: 600px;
    margin: 50px 250px 10px 10px;
    padding: 0px;

}


/* footer */

footer{
    height: 300px;
    width: 80%;

}
footer #box{
    float: left;
    margin : 30px 30px 40px 30px;
}
footer #box #box-1{
    float: left;
    width: 33%;
}

footer #box #box-1 #box-2{
    float: left;
    height: 200px;
    width: 25%;
    margin : 20px 20px 20px 20px;
}


 


