body{

    font : 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin: 0;
    color: #354463;
}
header{
    height: 100px;
}
header h1{
    text-align: center;
    height: 30px;
}
input[type= "text"],input[type ="number"], input[type = "email"],select {
   
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color:#354463;
    border: none;
    border-bottom: 2px solid #C1F7D5;
    font-size: 20px;
    text-align: left;
    width: 110%;
    

  }
  .button-2{
    background:#C1F7D5;
    border-radius: 100px;
    width: 120%;
    height: 48px;
    margin:0;
    padding:0;
    font-size: 20px;
}

.donate{
    height: 1224px;
    width: 100%;
    background: url("../image/annie-spratt-427340-unsplash-\(1\).png") no-repeat;
    margin:0px;
    padding:0px;

}
.donate #box{
    height: 1060px;
    width: 33%;
    background-color:#354463;
    margin-left: 160px;
    color:#ffffff; 
}
.donate #box #inside-box{
    margin : 0px 50px 50px 50px;
}
#box-1{
    width:80%;
    float: left;
}

#box-1 #box-2{
    float: left;
    width: 40%;
    margin: 15px 15px 15px 15px;
}
#box-3{
    width: 26%;
    float: left;
    margin: 15px 15px 15px 15px;
}
.long-text{
    width:120% 
}

/* footer */
footer{
    height: 150px;
    width: 80%;

}
footer #box{
    float: left;
    margin : 30px 30px 40px 30px;
}
footer #box #box-1{
    float: left;
    width: 33%;
}

footer #box #box-1 #box-2{
    float: left;
    height: 200px;
    width: 25%;
    margin : 20px 20px 20px 20px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    #box-1 #box-2 #box-3 input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  